.slidebg{
    /* background-color: #972239;
background-image: linear-gradient(315deg, #972239 0%, #db6885 74%); */
background-color: #738bdc;
background-image: linear-gradient(315deg, #738bdc 0%, #48c3eb 74%);
}


/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    h2{
        font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    }
    h5{
        font-size: 1rem;
    }
    .testpar{
        font-size: 0.6rem;
    }
    .testimg{
        height: 2.5rem;
        width: 2.5rem;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    h2{
        font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    }

    h5{
        font-size: 1rem;
        font-weight: bold;
    }
    .testpar{
        font-size: 0.8rem;
    }
    .testimg{
        height: 3rem;
        width: 3rem;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    h2{
        font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    }
    h5{
        font-size: 1.2rem;
        font-weight: bold;
    }
    .testpar{
        font-size: 0.7rem;
    }
    .testimg{
        height: 3.8rem;
        width: 3.8rem;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) {
    h2{
        font-size: 2rem;
    font-weight: bold;
    text-align: center;
    }
    h5{
        font-size: 1.4rem;
        font-weight: bold;
    }
    
    .testpar{
        font-size: 0.8rem;
    }
    .testimg{
        height: 4.5rem;
        width: 4.5rem;
    }
}